.BookingList {
    flex: 4;
  }
  
  .BookingListBooking {
    display: flex;
    align-items: center;
  }
  
  .BookingListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .BookingListEdit{
      border: none;
      border-radius: 10px;
      padding: 5px 10px;
      background-color: #3bb077;
      color: white;
      cursor: pointer;
      margin-right: 20px;
  }
  
  .BookingListDelete{
      color: red;
      cursor: pointer;
  }